body { 
  background: rgb(236, 236, 221);
  font-family: Garamond, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  height: auto;
  margin: auto;
  text-align: left;
}

section {
  padding: 10px;
}


/* Headers and horizontals. A standard theme to keep things visually together. */
h1 {
  color: darkblue;
}
h2 {
  color: darkblue;
}
h3 {
  color: darkblue;
}
hr {
  color: darkblue;
}

/* Links. */
a:link {
  color: darkred;
}
a:visited {
  color: rgb(77, 0, 0);
}
a:hover {
  color: rgb(255, 0, 0);
}
a:active {
  color: rgb(252, 157, 157);
}